.overlay-order {
    position: fixed;
    height: 300px;
    width:100%;
    background-color: rgba(168, 163, 239, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 30px;
    
   
}
.d-none {
    display: none;
}

.header-content {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-Logo {
    height: 60px;
    width: auto;
    margin-left: 5%;
}

.content-section {
    display: flex;
    flex-direction: row;    
}

.content-top {
    width: 100%;
    position: relative;
}

.header-images{
    width: 100%;
    position: relative;
}

.round-logo {
    position: absolute;
    left: 45%;
    bottom: -55px;
    width: 120px;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgb(196, 193, 193);
}

.header-image {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.content-images {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.headline-rating {
    margin: 60px 0px 0 20px;
}

.icon-arrow {
    height: 25px;
    margin-right: 20px;
}

.rating {
    color: rgb(81, 12, 183);
    font-size: 20px;    
}

.menu-choice{
    margin: 20px 0px 0 0px;
    background-color: rgba(227, 216, 216, 0.7); 
    padding: 10px 0px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.internal-link {
    font-size: 22px;
    padding-right: 30px;    
}

.content-dishes {
    margin:  20px 20px 20px 20px;
}

.order-section {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishes-headline {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 0 10px;
}

.dish-choice {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(196, 193, 193);  
    margin: 15px 0 0 0;
    position: relative;
    transition: 0.3s;
    box-shadow: 5px 5px 0px rgba(196, 193, 193, 0.5);
}

.dish-choice:hover {
    background-color:rgba(152, 82, 238, 0.7);
    box-shadow: 10px 10px 0px rgba(196, 193, 193, 0.5);
}

.plus{
    width: 40px;
    border: 1px solid rgb(196, 193, 193);  
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.plus:active {
    box-shadow: 0 3px #c6c6c6;
    transform: translateY(4px);
}

.dishes-name {
    font-size: 22px;
    font-weight: bold;
    margin: 18px 42px 20px 10px;
}

.dishes-incridients {
    font-size: 18px;
    margin: 0px 10px 20px 10px;
}

.dishes-price{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 20px 10px;
    color:  rgb(81, 12, 183);;
}

.basket {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    box-shadow: 0px 0px 10px gray;
}

.basket-sticky{
    position: sticky;
    top: 0;
    width: 100%;    
}

.basket-header{
    font-size: 35px;   
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgb(196, 193, 193);  
    display: flex;  
    flex-direction: row;
    justify-content: center;   
    width: 100%; 
}

.basket-content-empty {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: gray;
    margin-top: 20px;
}

.basket-icon {
    width: 90px;
    height: auto;
}

.basket-full {
    max-height: 500px;   
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.basket-mobile {
    position: fixed;
    top: 100px;
    right: 22px;
    background-color: rgba(80, 70, 219, 0.7);
    border-radius: 8px;
    visibility: hidden;
    cursor: pointer;
    
}

.number-mobile-basket {
    position: absolute;
    background-color: rgb(44, 5, 136);;
    color: aliceblue;
    font-size: 22px;
    padding:  8px 15px 8px 15px;
    right: 11px;
    top: 73px;
    border-radius: 12px;
}

.basket-content{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: center;
}

.basket-dishes{
    margin: 20px 0px 0 0;
    font-size: 20px;
    font-weight: bold;    
}

.basket-amount-calculator{
    margin: 0;   
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-direction: row-reverse;
}

.basket-plus-minus { 
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.basket-amount {
    font-size: 18px;
    margin-right: 15px;
}

.basket-price {
    margin-right: 25px;
}

.basket-trash {
    width: 30px;
    cursor: pointer;
}

.seperation {
    background-color: grey;
    height: 1px;
    margin: 10px 10px 0 10px;
    width: 80%;
}

.basket-sum {
    margin: 17px 15%  5% 10px;
    display: flex;
    flex-direction: column;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtotal-text {
    font-size: 17px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.checkbox-delivery {    
    margin: 11px 0%  0% 10px
}

.checkbox-delivery-label {
    font-size: 17px;
}

.basket-mobile-headline {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.order-empty{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.order-button {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    border-width: 0px;
    background-color:  rgb(81, 12, 183);;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0 4px #c6c6c6;
}

.order-button:hover {
    background-color: rgba(152, 82, 238, 0.7);
}

.order-button:active {
    background-color: rgb(169, 168, 168);
    box-shadow: 0 3px #c6c6c6;
    transform: translateY(4px);
}

.empty-basket-button {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-width: 0px;
    border-radius: 15px;
    background-color: rgb(234, 227, 227);
    cursor: pointer;
    box-shadow: 0 4px #c6c6c6;
}

.empty-basket-button:hover {
    background-color:rgba(152, 82, 238, 0.7);
}

.empty-basket-button:active {
    background-color:rgba(152, 82, 238, 0.7);
    box-shadow: 0 3px #c6c6c6;
    transform: translateY(4px);
}

.footer-content {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0 5% 0 5%;
}

.icon-link {
    color:rgba(152, 82, 238, 0.7);
}

.icon-link:hover {
    color:rgba(152, 82, 238, 0.7);
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 5px;
    height: 35px;
    width: auto;
    visibility: hidden;
    cursor: pointer;
}



