@media (max-width: 850px) {
    .header-image {
        height: 220px;
    }

    .basket {
       position: fixed;
       background-color: rgb(232, 236, 239);
       inset: 0 0 0 0;
       width: 100%;        
    }

    .hide-basket {
        display: none;
    }

    .basket-mobile {
        visibility: visible;
        width: 150px;
        height: 150px;
         
    }
    .basket-mobile img {
        width: 150px;
        height: 100px;
        padding-top: 30px;
    }

    .basket-sum {
        margin: 10px 20% 0 20%;
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 50%;
    }

    .subtotal-text {
        padding-right: 15px;
    }

    .basket-dishes{
        margin: 0 0 0 0px;
        font-size: 20px;
        font-weight: bold;
    }

    .basket-amount-calculator{
        margin-bottom: 10px; 
    }

    .seperation {
        margin: 0px 10px 0 10px;
    }

    .basket-content{
        display: flex;
        flex-direction: column;
    }

    .basket-full {
 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
        width: 100%;
    }

    .order-button {
        padding: 10px 40px 10px 40px;
        font-size: 25px;
    }
    
    .close-icon {
        visibility:visible;
    }

    .sum-content {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .basket-sticky{
        width: 70%;    
    }
}

@media (max-width: 600px){
    .basket-sticky{
        width: 100%;    
    }

}

@media (max-width: 450px) {

    .basket-sum {
        margin: 10px 3% 10px 3%;  
        max-width: 100%;      
    }
}

@media (max-width: 400px) {
    .basket-sum {
        margin: 5px 2% 5px 2%;       
        max-width: 100%;
    }
    
}


