@media(max-width: 500px) {
    
    .basket {
        position: fixed;
        top: 0;
        width: 50%;
        height: 50%;
        z-index: 999;
        overflow-x: hidden;
        background-color: rgb(120, 131, 231);
    }
  
}
